{% set estado = {"0": "Bloqueado", "1": "Activo" } %}

{% for usuario in usuarios %}
  <tr>
    <td>{{ usuario.getFirst_name |capitalize }}</td>
    <td>{{ usuario.getLast_name |capitalize }}</td>
    <td>{{ usuario.getEmail }}</td>
    <td>{{ usuario.getUsername |capitalize }}</td>
    <td>
      {{ estado[usuario.getActivo] }}
    </td>
    <td>
      {% for rol in usuario.getRoles %}
        {{ rol.nombre |capitalize }} <br>
      {% else %}
        No tiene
      {% endfor %}
    </td>
    <td id="{{usuario.getId}}">
      {% for permiso in permisos %}
        {% include "moduloUsuario/boton_#{permiso}.twig" ignore missing %}
      {% endfor %}
    </td>
  </tr>
  {% else %}
    <td colspan="7" align="center" >No hay usuarios para mostrar</td>
{% endfor %}
