{% set opcion = {"0": "No", "1": "Si" } %}
<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-12 col-md-10 col-lg-6">
      <div class="row p-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Nombre:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ nombre | capitalize }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Apellido:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ apellido | capitalize }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Fecha de Nacimiento:
        </div>
        <div class="ml-auto">
          {{ fecha_nac |date("d/m/Y")}}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Lugar de nacimiento:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ lugar_nac | title }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Partido:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ partido | title }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Localidad:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ localidad | title }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Region sanitaria:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ region_sanitaria }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Domicilio:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ domicilio }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Genero:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ genero | capitalize }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Tiene en su poder su documento:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ opcion[tiene_documento] | capitalize }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Tipo de documento:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ tipo_doc }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Numero de documento:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ numero }}
        </div>
      </div>
      <div class="row p-1 mb-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Numero de historia clinica:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ nro_historia_clinica }}
        </div>
      </div>
      <div class="row p-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Numero de carpeta:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ nro_carpeta }}
        </div>
      </div>
      <div class="row p-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Telelefono/Celular:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ tel }}
        </div>
      </div>
      <div class="row p-1 mb-1" style="border: solid grey 2px;border-radius: 9px;">
        <div class="">
          Obra social:
        </div>
        <div class="ml-auto" style="word-break: break-all;">
          {{ obra_social }}
        </div>
      </div>
    </div>
  </div>
</div>
