<div class="row justify-content-center mt-2">
  <div class="col-10">
    <form id="formularioAgregarPaciente"onsubmit="return false">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="m_nombre">Nombre <div style="color: red;display: contents;">*</div> </label>
          <input type="text" class="form-control" id="m_nombre" name="nombre" placeholder="Nombre..." value="{{nombre}}">
        </div>
        <div class="form-group col-md-6">
          <label for="m_apellido">Apellido <div style="color: red;display: contents;">*</div> </label>
          <input type="text" class="form-control" id="m_apellido" name="apellido" placeholder="Apellido..." value="{{apellido}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="m_lNacimiento">Lugar de nacimiento</label>
          <input type="text" class="form-control" id="m_lNacimiento" name="lNacimiento" value="{{lugar_nac}}">
        </div>
        <div class="form-group col-md-6">
          <label for="m_fNacimiento">Fecha de nacimiento <div style="color: red;display: contents;">*</div> </label>
          <input type="date" class="form-control" id="m_fNacimiento" name="fNacimiento" value="{{fecha_nac}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="m_partido">Partido</label>
          <select id="m_partido" name="partido" class="custom-select" value="{{partido_id}}">

          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="m_localidad">Localidad</label>
          <select id="m_localidad" name="localidad" class="custom-select" value="{{localidad_id}}">

          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="m_regionSanitaria">Region sanitaria</label>
          <input type="text" class="form-control" id="m_regionSanitaria" disabled>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="m_domicilio">Domicilio <div style="color: red;display: contents;">*</div> </label>
          <input type="text" class="form-control" id="m_domicilio" name="domicilio" value="{{domicilio}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="m_genero">Genero <div style="color: red;display: contents;">*</div> </label>
          <select id="m_genero" name="genero" class="custom-select" value="{{genero_id}}">
            <option value="3">Otro</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12 col-lg-4">
          <label for="m_tieneDoc">Tiene en su poder su documento <div style="color: red;display: contents;">*</div> </label>
          <select id="m_tieneDoc" name="tieneDoc" class="custom-select" value="{{tiene_doc}}">
            <option value="0">No</option>
            <option value="1">Si</option>
          </select>
        </div>
        <div class="form-group col-md-6 col-lg-4">
          <label for="m_tipoDoc">Tipo de documento <div style="color: red;display: contents;">*</div> </label>
          <select id="m_tipoDoc" name="tipoDoc" class="custom-select" value="{{tippo_doc_id}}">

          </select>
        </div>
        <div class="form-group col-md-6 col-lg-4">
          <label for="m_nroDoc">Numero de documento <div style="color: red;display: contents;">*</div> </label>
          <input type="number" class="form-control" id="m_nroDoc" name="nroDoc" min="1" value="{{numero}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="m_nroHC">Numero de historia clinica</label>
          <input type="number" class="form-control" id="m_nroHC" name="nroHistoriaClinica" min="1" max="999999" value="{{nro_historia_clinica}}">
        </div>
        <div class="form-group col-md-6">
          <label for="m_nroCarpeta">Numero de carpeta</label>
          <input type="number" class="form-control" id="m_nroCarpeta" name="nroCarpeta" min="1" max="99999" value="{{nro_carpeta}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="m_nroTel_cel">Numero de telefono o celular</label>
          <input type="text" class="form-control" id="m_nroTel_cel" name="nroTel_cel" value="{{tel}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="m_obraSocial">Obra social</label>
          <select id="m_obraSocial" name="obraSocial" class="custom-select" value="{{obra_social_id}}">

          </select>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <button type="submit" id="btnModificarPaciente" value="{{id}}" class="btn btn-primary">Modificar paciente</button>
      </div>
    </form>
  </div>
</div>
